
<%= form_for @workout do |w| %>
    <p><strong><%= e.label :name %> </strong></p>
    <p><%= e.text_field :name %></p>
    <p><strong><%= e.label :video %></strong></p>
    <p><%= e.text_field :video, placeholder: "Video..." %></p>
    <%= e.submit 'Add Exercise' %>
<% end %>