
<%= form_for @workout do |w| %>
    <p><strong><%= w.label :day_name %> </strong></p>
    <p><%= w.text_field :day_name %></p>
    <p><strong><%= w.label :day_number %></strong></p>
    <p><%= w.text_field :day %></p>
    <p><strong><%= w.label :exercise %></strong></p>
    <p><%=collection_select(:exercise, Exercise.all,
                  :id, :name,
                 {:prompt => 'Select an exercise'})%></p>
     <p><strong><%= w.label :reps %></strong></p>
    <p><%= w.text_field :reps %></p>
     <p><strong><%= w.label :sets %></strong></p>
    <p><%= w.text_field :sets %></p>
     <p><strong><%= w.label :hold %></strong></p>
    <p><%= w.text_field :hold %></p>
     <p><strong><%= e.label :timer %></strong></p>
    <p><%= e.text_field :timer %></p>
    <%= w.submit 'Add Exercise' %>
<% end %>