
<div class="jumbotron">
  <div class="container text-center text-uppercase">
    <h1>Shredzilla Day:</h1>
  </div>
</div>

<div class="container">
<table class="table table-bordered">
<tr>
    <td><strong>Exercise</strong></td>
    <td><strong>Hold</strong></td>
    <td><strong>Reps</strong></td>
    <td><strong>Sets</strong></td>
    <td><strong>Timer</strong></td>
</tr>
<tr>
    <td><%= @workout.exercise.name %></td>
    <td><%= @workout.hold %> </td>
    <td><%= @workout.reps %></td>
    <td><%= @workout.sets %></td>
    <td><%= @workout.timer %></td>

</tr>
<tr>

</tr>


</table>


  <p><%= link_to "edit Workout", edit_workout_path(@workout) %></p>
  <p><%= link_to "Check out more HIIT'S", workouts_path %></p>

  </div>





<%= params %>


