<div style="width: 600px; background: #CCCCCC; border-radius: 5px; margin: 130px auto 30px; padding: 10px;">
<h2 style="margin: 0 auto 10px;">SIGN IN</h2>

<%= form_tag '/login' do %>

  <div class="form-group">
  <label>Email</label>
  <%= email_field_tag :email, '' , class: "form-control" %>
  </div>

  <div class="form-group">
  <label>Password</label>
  <%= password_field_tag :password, '', class: "form-control" %>
  </div>

  <%= submit_tag "Log In", class: "btn btn-success" %>

<% end %>

</div>

<center>
 <%= link_to "Log In with Facebook", '/auth/facebook', class: 'btn btn-primary' %> 
 <%= link_to "Log In with Google+", '/auth/google', class: 'btn btn-danger' %> 
 <%= link_to "Log In with Twitter", '/auth/twitter', class: 'btn btn-primary' %>
</center>
<br><br>