<br />
<br />
<br />
<br />
<div class="container">
<h1><%=@score.day%></h1>
<table>
    <tr>
        <td>Food</td>
        <td>Workout</td>
        <td>Sleep</td>
        <td>Daily Update</td>
        <td>Challenge</td>
    </tr>
    <tr>
        <td><%=@score.food%></td>
        <td><%=@score.workout%></td>
        <td><%=@score.sleep%></td>
        <td><%=@score.daily_update%></td>
        <td><%=@score.challenge%></td>
    </tr>
</table>

</div>