<%= simple_form_for @user do |f| %>

  <%= f.input :first_name %>

  <%= f.input :last_name %>

  <label>E-mail</label>
  <%= f.email_field :email %>

  <label>Password:</label>
  <%= f.password_field :password %>

  <label>Confirm Password:</label>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Sign Up" %>
<% end %>