<div class="signup">
  <h2>SIGN UP</h2>

  <%= simple_form_for @user do |f| %>
      <div class="col-sm-6">
        <%= f.input :first_name, input_html: { class: 'form-control' } %>
      </div>
      <div class="col-sm-6">
        <%= f.input :last_name, input_html: { class: 'form-control' } %>
      </div>
      <div class="col-sm-12">
        <%= f.input :email, as: :email, input_html: { class: 'form-control' } %>
      </div>
      <div class="col-sm-12">
        <%= f.input :password, as: :password, input_html: { class: 'form-control' } %>
      </div>
      <div class="col-sm-12">
        <%= f.input :password_confirmation, as: :password, input_html: { class: 'form-control' } %>
      </div>
      <div class="col-sm-12">
      <%= f.submit "Sign Up", class: 'btn btn-primary' %>
      </div>
  <% end %>
  
  <div style="text-align: center;">
    <%= link_to "Sign Up using Facebook", '/auth/facebook', class: 'btn btn-primary' %>
    <%= link_to "Sign Up using Google+", '/auth/google', class: 'btn btn-danger' %>
    <%= link_to "Sign Up using Twitter", '/auth/twitter', class: 'btn btn-primary' %>
  </div>
</div>

