<%= tinymce_assets %>
<br>
<center><h2>Blog Post</h2></center>
<div class="postform_wrapper">
<% if current_user %>
  <%= simple_form_for @post do |f| %>

    <%= f.input :title, as: :string, input_html: { size: '100', class: 'form-control' } %>
    <%= f.input :body, as: :text, input_html: { class: 'tinymce form-control' } %>
<br>
    <%= f.submit "Publish", class: 'btn btn-primary' %>
<br><br>
  <% end %>
<% end %>
</div>



<%= tinymce %>