
<div class="dashboard_head dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal" }'>
  <div class="avatar">
    <center>
      <img src="http://common.bbcomcdn.com/images/default-avatar/Avatar-Male-Default_145x145.jpg" style="width: 200px; height: 200px; margin-top: 20px;">
      <p style="color: white; padding-top: 10px; font-weight: bold; font-size: 18px;"><%= current_user.first_name %> <%= current_user.last_name %></p>
    </center>
  </div>
<div class="divimage dzsparallaxer--target" style="width: 100%; height: 640px; background-size: cover; background-image: url('http://assets.bodybuilding.com/bodyspace/images/sections/profile/BodyBanner_Default.jpg');">
</div>
</div>

    <!-- if current does not have a team, prompt them to join a team -->
  <% if current_user.memberships == [] %>
    <center><h1>Looks like you aren't in a team!<br> Join or create your own!</h1></center>
    <div style="width: 600px; margin: 0 auto; padding: 10px; text-align: center;">
    <%= simple_form_for(current_user, url: jointeam_path) do |s| %>
      <%= s.input :teams, collection: @teams, input_html: { class: 'form-control' } %><br>
      <%= s.submit 'Submit Choice', class: 'btn btn-success' %><br>
    <% end %><br>
    <%= link_to 'Create Team', new_team_path %>
    </div>
  <% else %>


<section class="section" style="height: 100px; background: #3967B2; color: #fff; text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);">
  <center><h3 style="margin: 0; padding-top: 30px; font-size: 30px;">Time to get shredded <%= current_user.first_name if current_user %>!</h3></center>
</section>

<section class="section" style="padding-top: 20px;">

  <center><h1>Your Workout for <%= @today %></h1></center>

  <!-- If there is no workout of the day or description show these options -->
  <% if @wod == [] && @day.description == nil %>
      <p>Speed 1:<%=@day.option_1%></p>
      <p>Speed 2:<%=@day.option_2%></p>

  <!-- if there is a workout of the day -->
    <% elsif @wod != [] %>

    <table style="width: 100%; border: 1px solid black; margin: 60px 0;">
      <tr>
        <th>Exercise</th>
        <th>Hold</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Timer</th>
      </tr>
      <% @wod.each do |workout| %>
          <tr>
            <td><a data-toggle="modal" data-target="#videoModal" data-theVideo=<%="#{workout.exercise.video}"%> ><%=workout.exercise.name%></a></td>
            <td><%= workout.hold %> </td>
            <td><%= workout.reps %></td>
            <td><%= workout.sets %></td>
            <td><%= workout.timer %></td>
          </tr>
      <% end %>
    </table>

          <% else %>
      <p><%=@day.description%></p>
    <% end %>

</section>

<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal" }' style="height: 150px;">
<div class="divimage dzsparallaxer--target" style="width: 100%; height: 640px; background-size: cover; background-image: url('http://assets.bodybuilding.com/bodyspace/images/sections/profile/BodyBanner_Default.jpg');">
</div>
</div>

<section class="section">
<!-- challenge of the day -->
<center><h1>Challenge for <%= @today %></h1>
<% @dailychallenge.each do |challenge| %>
  <p><%= challenge.description %></p>
  <% end %>
  </center>
</section>

<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal" }' style="height: 150px;">
<div class="divimage dzsparallaxer--target" style="width: 100%; height: 640px; background-size: cover; background-image: url('http://assets.bodybuilding.com/bodyspace/images/sections/profile/BodyBanner_Default.jpg');">
</div>
</div>

<center><h2>Score Card for <%= @today %></h2></center><br>

<!-- if users score for the day is empty show score card for the day -->
<% if current_user.scores.where(day: Challenge.first.current_day) == [] %>
<div class="container">
    <%= simple_form_for [current_user, @score] do |s| %>
      <%= s.hidden_field :user_id, :value => [current_user.id] %>
      <%= s.hidden_field :day, :value => [Challenge.first.current_day] %>
      <table style="margin: 0 auto; padding: 5px; margin-top: 20px;">
        <tr>
          <th><%= s.label :food %></th>
          <th><%= s.label :workout %></th>
          <th><%= s.label :sleep %></th>
          <th><%= s.label :daily_update %></th>
          <th><%= s.label :challenge %></th>
        </tr>
        <tr>
          <td><%= s.collection_select :food, [[4, "Perfection"], [3, "Near Perfection"], [2, "Almost Near Perfection"], [1, "The struggle is real"], [0, "You know, it happens"]], :first, :last %></td>
          <td><%= s.collection_select :workout, [[3, "Workout Domination"], [0, "Missed Workout"]], :first, :last%></td>
          <td><%= s.collection_select :sleep, [[1, 'Slept like a baby...'], [0, "More ZZZZZ's to come."]], :first, :last %></td>
          <td><%= s.collection_select :daily_update, [[1, 'You know it!'], [0, 'I owe it!']], :first, :last %></td>
          <td><%= s.collection_select :challenge, [[1, 'Challenge, Smallenge'], [0, 'Womp, womp']], :first, :last%></td>
        </tr>
      </table>
      <div class="form-group" style="margin: 0 auto; text-align: center; width: 600px;"><br>
      <%= s.input :note, :as => :text, input_html: { :style=> 'width: 600px;', :rows => 4, :class => 'form-control'} %>
<br>
      <%= s.submit 'Submit', class: 'btn btn-primary' %>
            </div><br><br>
    <% end %>
  <% else %>

    <!-- else show score total for the day -->
    <center>
    <h3>Today's Total: <%= @dailyscore.total %></h3>

    <!-- This calculates the total score for each day of challenge -->
     <h3> Challenge Total:
      <% @userscores.each do |total| %>
      <% @totalscore << total.total %>
      <% end %>
      <% @totalscore.compact! %>
      <%= @totalscore.inject(:+) %>
    </h3><br>
    <h2>Keep up the good work!</h2>
   <!--  <h4><a data-toggle="modal" data-target="#myModal">View All Scores</a></h4> -->
    </center>
  <% end %>
  <% end %>
</div>
            </div>
            <!-- Exercise video modal -->
            <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div>
                      <iframe width="100%" height="350" src=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- Current user score modal -->
<!--             <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= current_user.first_name %> Scores</h4>
                  </div>
                  <div class="modal-body">
                    <table>
                      <tr>
                        <td>Day</td>
                        <td>Nutrition</td>
                        <td>Workout</td>
                        <td>Sleep</td>
                        <td>Glide Update</td>
                        <td>Daily Challenge</td>
                        <td>Daily Total</td>
                      </tr>
                      <% @userscores.each do |score| %>
                      <tr>
                        <td><%= score.day %></td>
                        <td><%= score.food %></td>
                        <td><%= score.workout %></td>
                        <td><%= score.sleep %></td>
                        <td><%= score.daily_update %></td>
                        <td><%= score.challenge %></td>
                        <td><%= score.total %></td>
                        <% end %>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> -->