<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">

<% if current_user %>

<% if current_user.memberships == [] %>
<%= simple_form_for(current_user, url: jointeam_path) do |s| %>
<%= s.input :teams, collection: @teams  %>
<%= s.submit 'Submit Choice' %>
<% end %>
<%= link_to 'Create Team', new_team_path %>
<% else %>
<%= current_user.first_name %>
<% end %>

<% end %>

</div>
<table>
  <thead>
    <tr>
      <th width="200">Exercise</th>
      <th>Hold</th>
      <th>Reps</th>
      <th>Sets</th>
      <th width="200">Timer</th>
    </tr>
  </thead>
  <tbody>
     <% @wod.each do |workout| %>
    <tr>
        <td><%= link_to workout.exercise.name, '#{workout.exercise.video}' %></td>
        <td><%= workout.hold %> </td>
        <td><%= workout.reps %></td>
        <td><%= workout.sets %></td>
        <td><%= workout.timer %></td>
    </tr>
      <% end %>
  </tbody>
</table>