
<div class="dashboard_head dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal" }'>
  <div class="avatar">
    <center>
      <img src="http://common.bbcomcdn.com/images/default-avatar/Avatar-Male-Default_145x145.jpg" style="width: 200px; height: 200px; margin-top: 20px;">
      <p style="color: white; padding-top: 10px; font-weight: bold; font-size: 18px;"><%= current_user.first_name %> <%= current_user.last_name %></p>
    </center>
  </div>
<div class="divimage dzsparallaxer--target" style="width: 100%; height: 640px; background-size: cover; background-image: url('http://assets.bodybuilding.com/bodyspace/images/sections/profile/BodyBanner_Default.jpg');">
</div>
</div>

<section class="section" style="height: 100px; background: #3967B2; color: #fff; text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);">
  <center><h3 style="margin: 0; padding-top: 30px; font-size: 30px;">Time to get shredded <%= current_user.first_name if current_user %>!</h3></center>
</section>

<section class="section">

  <center><h1>Your Workout for <%= @today %></h1></center>
  <% if @wod == [] && @day.description == nil %>
      <p><%=@day.option_1%></p>
      <p><%=@day.option_2%></p>
    <% elsif @wod != [] %>

    <table style="width: 100%; border: 1px solid black;">
      <tr>
        <th>Exercise</th>
        <th>Hold</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Timer</th>
      </tr>
      <% @wod.each do |workout| %>
          <tr>
            <td><a data-toggle="modal" data-target="#videoModal" data-theVideo=<%="#{workout.exercise.video}"%> ><%=workout.exercise.name%></a></td>
            <td><%= workout.hold %> </td>
            <td><%= workout.reps %></td>
            <td><%= workout.sets %></td>
            <td><%= workout.timer %></td>
          </tr>
      <% end %>
    </table>

          <% else %>
      <p><%=@day.description%></p>
    <% end %>

</section>

<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal" }' style="height: 150px;">
<div class="divimage dzsparallaxer--target" style="width: 100%; height: 640px; background-size: cover; background-image: url('http://assets.bodybuilding.com/bodyspace/images/sections/profile/BodyBanner_Default.jpg');">
</div>
</div>

<section class="section">
<center><h1>Challenge for <%= @today %></h1></center>
<% @dailychallenge.each do |challenge| %>
  <p><%= challenge.description %></p>
  <% end %>
</section>

<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal" }' style="height: 150px;">
<div class="divimage dzsparallaxer--target" style="width: 100%; height: 640px; background-size: cover; background-image: url('http://assets.bodybuilding.com/bodyspace/images/sections/profile/BodyBanner_Default.jpg');">
</div>
</div>

  <% if current_user.memberships == [] %>
    <%= simple_form_for(current_user, url: jointeam_path) do |s| %>
      <%= s.input :teams, collection: @teams %>
      <%= s.submit 'Submit Choice' %>
    <% end %>
    <%= link_to 'Create Team', new_team_path %>
  <% else %>
    <% if @wod == [] && @day.description == nil %>
      <p><%=@day.option_1%></p>
      <p><%=@day.option_2%></p>
    <% elsif @wod != [] %>
    <% else %>
      <p><%=@day.description%></p>
    <% end %>



<h2>Score Card for <%= @today %></h2>
<% if current_user.scores.where(day: Challenge.first.current_day) == [] %>
<div class="container">
    <%= simple_form_for [current_user, @score] do |s| %>
      <%= s.hidden_field :user_id, :value => [current_user.id] %>
      <%= s.hidden_field :day, :value => [Challenge.first.current_day] %>
      <%= s.label :food %>
      <%= s.collection_select :food, [[4, "Perfection"], [3, "Near Perfection"], [2, "Almost Near Perfection"], [1, "The struggle is real"], [0, "You know, it happens"]], :first, :last %>
      <%= s.label :workout %>
      <%= s.collection_select :workout, [[3, "Workout Domination"], [0, "Missed Workout"]], :first, :last%>
      <%= s.label :sleep %>
      <%= s.collection_select :sleep, [[1, 'Slept like a baby...'], [0, "More ZZZZZ's to come."]], :first, :last %>
      <%= s.label :daily_update %>
      <%= s.collection_select :daily_update, [[1, 'You know it!'], [0, 'I owe it!']], :first, :last %>
      <%= s.label :challenge %>
      <%= s.collection_select :challenge, [[1, 'Challenge, Smallenge'], [0, 'Womp, womp']], :first, :last%>
      <%= s.label :note %>
      <%= s.input_field :note, :as => :text, input_html: { :style=> 'width: 100%;', :rows => 4} %>
      <%= s.submit 'Submit' %>
    <% end %>
  <% else %>
    <h3><%= @today %>'s total score: <%= @dailyscore.total %></h3>
 <h2>Keep up the good work!</h2>
     <h3>Challenge total:
      <% @userscores.each do |total| %>
      <% @totalscore << total.total %>
      <% end %>
      <%= @totalscore.inject(:+) %>
    </h3>
  <% end %>
  <% end %>



      <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div>
                      <iframe width="100%" height="350" src=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>