<div class="splash dzsparallaxer auto-init simple-parallax out-of-bootstrap" data-options='{ direction: "normal" }' style="height: 100vh">
    <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100vh; background-size: cover; background-image: url('http://static2.wallpedes.com/wallpaper/wallpapers/wallpapers-for-gt-fitness-backgrounds-hd-yoga-wallpapers-for-mobile-1080p-android-laptop-windows-7-mac-1366x768-wallpaper-iphone-nature.jpg'); background-position: center top;">
    </div>
</div>

<h1>Root Page</h1>

      <% if !current_user %>
      <ul>
        <li>Log In with:</li>
        <li><%= link_to 'Google+', '/auth/google' %></li>
        <li><%= link_to 'Facebook', '/auth/facebook' %></li>
        <li><%= link_to 'Twitter', '/auth/twitter' %></li>
      </ul>
      <% end %>

      Welcome <%= current_user.first_name if current_user %>!

      <%= link_to 'Login', '/login' if !current_user %>
      <%= link_to 'Logout', '/logout', method: :delete if current_user%>


      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p class="fadeInBlock">hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>

<section class="index_footer" style="height: 300px; width: 100%; background: #333333; color: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">RECENT BLOG POSTS</div>
      <div class="col-sm-6">INSTAGRAM</div>
    </div>
  </div>
</section>