<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Shredzilla 2.0" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar-fixed-top">
      <header class="large">
        <nav class="navigation">
          <span class="logo">SHREDZILLA</span>
          <ul class="nav_links">
            <li><%= link_to "HOME", root_path %></li>
            <!-- <li><a href="/about">ABOUT</a></li> -->
            <li><a href="/blog">BLOG</a></li>
          <% if current_user %>
            <li><a href="/dashboard">DASHBOARD</a></li>
            <li><a data-method="delete" href="/logout">LOG OUT</a></li>
            <% else %>
            <!-- <li><a href="/signup">SIGN UP</a></li>
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LOGIN<span class="caret"></span></a> -->
          <!-- <ul class="dropdown-menu" role="menu"> -->
            <!-- <li><a href="/auth/google">Google+</a></li> -->
            <!-- <li><a href="/auth/facebook">Facebook</a></li>
            <li><a href="/auth/twitter">Twitter</a></li>
            <li><a href="/login">LOG IN</a></li> -->
          <!-- </ul> -->
        <!-- </li> -->
          <% end %>
          </ul>
        </nav>
      </header>
    </nav>

    <%= yield %>

    <footer>
      <div class="container">
      &copy; 2015 Shredzilla Fitness Challenge
      </div>
    </footer>

  </body>
</html>