<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Shredzilla 2.0" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <div class="top_bar">
        <div class="nav_container">
          SHREDZILLA
        </div>
      </div>
    </div>

    <%= yield %>

    <%= params %>

    <footer>
      <div>
      a
      </div>
    </footer>

  </body>
</html>
