<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Shredzilla 2.0" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <div class="container">

          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Shredzilla</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Shredzilla</a></li>
                <li><a href="#">The Process</a></li>
                <li class="has-dropdown">
                  <a href="#">Help</a>
                  <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                    <li class="active"><a href="#">Active link in dropdown</a></li>
                  </ul>
                </li>
                <li><a role="button" class="search-icon"><span></span></a></li>
              </ul>

              <!-- Left Nav Section -->
              <ul class="left">
                <li><a href="#">Left Nav Button</a></li>
              </ul>
            </section>

        </div> <!-- div.container end -->
      </nav>
    </div>

<!--         <div data-magellan-expedition="fixed">
          <dl class="sub-nav">
            <dd data-magellan-arrival="build"><a href="#build">Build with HTML</a></dd>
            <dd data-magellan-arrival="js"><a href="#js">Arrival 2</a></dd>
          </dl>
        </div>    
         -->
    <%= yield %>

    <footer>
      <div>
        
      </div>
    </footer>

  </body>
</html>
